/* .table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.
.button:hover {
  background-color: #0056b3;
}
*/
.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-head {
  background-color: #009879;
  color: #e3e6e5;
  text-align: left;
}
.table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}
.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.button-view {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
  background-color: #2881f5;
}

.button-edit {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
  background-color: #ccdd30;
}

.button-delete {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
  background-color: #f84141;
}

.button-back {
  background-color: #009879;
}
